/*
=========================================
Reset
=========================================
*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
span, nav{
  display: inline-block;
}
html {
  font-size:12px;
}
/*
=========================================
Grid
=========================================
*/
*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container{
  width: 960px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .navbar, .full, footer{
    padding: 5% !important;
  }
  .circles{
      display: none;
  }
  .bullets{
    width: 100% !important;
  }
  .second{
    display: block;
  }
  header{
    background-image: none !important;
  }
  .block{
    width: 100% !important;
  }
  html{
    font-size: 10px !important;
  }

  #tackle{
    left: 3rem !important;
    top: -3rem;
  }
  #tacklesub{
    top:-2rem;
  }
}

/*
=============================================
General Styles
=============================================
*/
header, .full, .logos{
    padding:0 5% ;
}

.full{
  min-height: 100vh;
}

body{
  background-color: #D2E1D8 ;
}

.bold{
  font-weight: bold;
}
.bolder{
  font-weight: 500;
  display: inline;
}
.navbar, .full, footer{
  padding: 10px 120px;
}
/*
=============================================
Navigation
=============================================
*/
.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
  top:0;
  position: sticky; 
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.07);
}

#VayuPure{
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 107.4%;
  
  letter-spacing: 0.015em;
  
  color: #425C56;

  position: relative;
  left: -6.67rem;
  }
  
  nav{
    float: right;
    margin-top: 0.5%;
  }
  a{
    text-decoration: none;
    font-family: 'Jost';
    color: #000;
    padding-left: 5.83rem;
  }

  


/*
=============================================
Header
=============================================
*/
header{
  background-color: #D2E1D8;
  width: 100%;
  background-image: url("../Images/1.png");
  background-size: contain;
  background-position: right;
  background-repeat:no-repeat;
}

.headbod{
  position: absolute;
  top: 28%;
}

.Heading{
font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 4rem;
line-height: 108.4%;

letter-spacing: 0.015em;

color: #425C56;
}

.SubHead{
  padding-top: 25px;
  font-family: 'Jost';
  font-style: normal;
  font-size: 2rem;
  font-weight: 300;
  line-height: 110.4%;

  letter-spacing: 0.015em;

  color: #425C56;

}

.btn{
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 108.4%;
  /* identical to box height, or 27px */
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 40px;
  
}

.btn-alt{
    font-family: 'Jost';
    border: 0;
    font-weight: 200;
    background: #425C56;
    padding: 11px 30px;
    font-size: 1.25rem;
}

/*
=============================================
Section #2
=============================================
*/
.second{
  background-color: #fff ;
  display: flex;
  flex-direction: row;
}

.bullets{
  width: 60%;
}

#VayuPure2{
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 108.4%;
  /* identical to box height, or 78px */

  letter-spacing: 0.015em;
  padding-top: 50px;

  color: #425C56;
  }

  #intropara{
    padding-top: 1rem;
    font-family: 'Circe';
    font-style: normal;
    font-size: 1.67rem;
    font-weight: 350;
    line-height: 130.2%;
    /* or 39px */
    color: #405953;
  }

  .point{
    padding: 0.5rem;
  }

  .iconify{
    height: 3.33rem;
    width: 3.33rem;
    margin-top: 1rem;

    color: #425C56;

  }
  
  .pointhead{
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    font-size: 1.66rem;
    line-height: 130.2%;
    /* identical to box height, or 39px */

    text-transform: uppercase;

    color: #425C56;
    margin: 0 25px;

    position: relative;
    top: -1rem;
  }

  .pointbody{
    font-family: 'Circe';
    font-style: normal;
    font-weight: 350;
    font-size: 1.25rem;
    line-height: 126.7%;
    /* or 28px */

    letter-spacing: 0.015em;

    color: #000000;

    margin: 0 74px;

    position: relative;
    top: -0.2rem;
  }
.circles{
  width: 40%;
}

/*
=============================================
Logos Section
=============================================
*/
.logos{
  background-color: #405953;
  min-height: 150px;
  text-align: center;
}

.image{
  height: 60px;
  width: auto;
  margin: 40px;
}

/*
=============================================
Section #3
=============================================
*/

.third{
  background-color: #E9F4EA;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block{
  width: 50%;
}

.para{
  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 2rem;
  line-height: 128.4%;
  /* or 49px */

  text-align: justify;
  letter-spacing: 0.015em;

  color: #000000;
  padding-top: 7%;
}

/*
=============================================
Footer
=============================================
*/

footer{
  height: 19rem;
  background: #F0F1F3;
  box-shadow: 0px -11px 59px rgba(0, 0, 0, 0.05);
  padding-top: 2rem;
}

#VayuPure3{
  font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 4rem;
line-height: 130.4%;
/* identical to box height, or 81px */

text-align: justify;
letter-spacing: 0.015em;

color: #425C56;
padding-bottom: 30px;

position: relative;
left: -6.67rem;
}

.foot{
  color: #B7B7B7;
  margin-top: 30px;
  margin-right: 30px;
}